{% extends 'base2.html' %}
{% load static %}
{% block content %}

<title>Login</title>
{% include 'message.html' %}
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form action="{% url 'login'  %}" method="POST" class="user">
                                        {% csrf_token %}
                                        <div class="form-group">
                                        {{ form.username }}
                                        {{form.username.errors}}
                                        <br>
                                        {{ form.password }}
                                        {{form.password.errors}}
                                        <br>
                                        {{ form.non_field_errors }}
                                        </div>
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
                                        <hr>
                                    </form>

                                    <div class="text-center"><a class="small" href="/password_reset">Forgot Password?</a></div>
                                    <div class="text-center"><a class="small" href="/register">Create an Account!</a></div>

{% endblock %}

{#                                        <div class="form-group"><input class="form-control form-control-user" type="text" id="id_username" placeholder="Enter Username..." name="username"></div>#}
{#                                        {{form.username.errors}}#}
{#                                        <div class="form-group"><input class="form-control form-control-user" type="password" id="id_password" placeholder="Password" name="password"></div>#}
{#                                        {{form.password.errors}}#}
{#                                        <div class="form-group">#}
{#                                            <div class="custom-control custom-checkbox small">#}
{#                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>#}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                     {{ form.non_field_errors }}#}