{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <title>Forgotten Password</title>


                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Forgot your Password?</h4>
                                        <p class="mb-4">Enter your email address below and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form method="POST" class="user">
                                        {% csrf_token %}
                                        <div class="form-group"><input class="form-control form-control-user" type="email" id="id_email" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Reset Password</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small" href=" /register ">Create an Account!</a>
                                    </div>
                                    <div class="text-center"><a class="small" href=" /login ">Already have an account? Login!</a></div>


{% endblock %}