{% extends 'base2.html' %}
{% load static %}
{% block content %}

<title> Password Reset Complete</title>
    <div class="text-center">
        <h1>Password Reset Complete</h1>
        <p>You can now <a href= "/login">Log in</a> with your new password.</p>
    
    </div>
{% endblock %}
