{% extends 'base2.html' %}
{% load static %}
{% block content %}

<title>Password Reset</title>
    <div class="text-center">
        <h1>Enter new password</h1>
    </div>
<br><br>
    <form method="post">
        {% csrf_token %}

        <div><input class="form-control form-control-user" type="password" id="id_new_password1" placeholder="New Password" name="new_password1" ></div>
        {{form.new_password1.errors}}<br>

        <div><input class="form-control form-control-user" type="password" id="id_new_password2" placeholder="Confirm New Password" name="new_password2" ></div>
        {{form.new_password2.errors}}<br>

        <br>

    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Reset Password</button>

    </form>

{% endblock %}