{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block title %} Skill Assessment Test {% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/Assessment.css' %}">


            <div class="container container-sm container-md container-lg">

                <div class="block-heading">
                    <h2 style="text-align: center; color: rgb(255,255,255)">Skills Assessment</h2>
                    <p style="color: rgb(255,255,255)">Hi, {{user.first_name}} {{user.last_name}}! Please assess yourself of the skills listed below. </p>
                </div>
            {% include 'message.html' %}
                <div class="block-content shadow-lg">
                    <form action="{% url 'assessment' request.user.id %}" method="POST">
                     {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">

                        <tr class="d-flex">
                            <th class="col-6"><h3 class="mb-0">Questions</h3></th>
                            <th class="col-1"></th>
                            <th class="col-1"></th>
                            <th class="col-1"></th>
                            <th class="col-2"></th>
                        </tr>


                        <tbody>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}

                            <tr class="d-flex">
                                <td class="col-6">
                            <div role="tablist" id="accordion-1">
                                        <div class="card.custom-accordion">
                                            <div class="card-header" role="tab">
                                                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1.item-{{form.instance.questions.id}}" href="#accordion-1 .item-{{form.instance.question.id}}">{{form.instance.question}}</a></h5>
                                            </div>
                                            <div class="collapse item-{{form.instance.question.id}}" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body" style="padding: 0;">
                                                    <p class="card-text">{{form.instance.question.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                                
                                
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert" role="alert" style="color: red;padding: 0;">
                                            {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </td>

                                <td class="col-1">
                                    <div class="form-check form-check-inline" >
                                     {{form.value.0}}
                                    </div>
                                </td>

                                <td class="col-1">
                                    <div class="form-check form-check-inline">
                                     {{form.value.1}}
                                    </div>
                                </td>

                                <td class="col-1">
                                    <div class="form-check form-check-inline">
                                        {{form.value.2}}
                                </div>
                                </td>

                                <td class="col-2">
                                    <div class="form-check form-check-inline">
                                        {{form.value.3}}
                                </div>
                                </td>

        {% endfor %}

        </tr>       
        </tbody>
    </table>

    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</div>
</form>
    </div>
            </div>


{% endblock %}