{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url({% static 'assets/img/cemain.jpg' %});"></div>
                    <div class="post-body">
                        <h3>Civil Engineering</h3>
                        <!--<div class="post-info"><span>By John Smith</span><span>Jan 27, 2018</span></div>-->
                        <p>Civil Engineering is a profession that applies the basic principles of science in conjunction with mathematical and computational tools to solve problems associated with developing and sustaining civilized life on our planet. Civil Engineering works are generally one-of-a-kind projects; they are often grand in scale; and they usually require cooperation among professionals of many different disciplines. </p>
                        <p>The completion of a civil engineering project involves the solution of technical problems in which information from numerous sources and myriad non-technical factors play a significant role. Some of the most common examples of civil engineering works include bridges, buildings, dams, airports and hangars, ports and harbors, highways and railways, tunnels, river and shore improvements, lighthouses, drydocks, irrigations, flood protection, drainage, water supply, and towers. Enumeration of any work in this section shall not be Construed as excluding any other work requiring civil engineering knowledge and application.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/ce2.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                         <div class="col">
                              <strong>Possible careers:</strong><br>
                            <ul>
                            <li>Structural engineer</li>
                            <li>Geotechnical engineer</li>
                            <li>Environmental engineer</li>
                            <li>Marine engineer</li>
                            <li>Engineering manager</li>
                            <li>Design engineer</li>
                            <li>Water resource engineer</li>
                            <li>Civil engineer</li>
                            </ul>

                            </div>

                        </div>
                        <h4>Course Overview</h4>
                        <p>Civil Engineering is one of the broadest engineering disciplines both in terms of the range of problems that fail within its purview and in the range of knowledge required to solve those problems.</p>
                        <div class="row">
                         <div class="col">
                              <strong>Subjects to take:</strong>
                            <ul>
                            <li>Calculus 1 and 2</li>
                            <li>Differential Equation</li>
                            <li>Engineering Data Analysis</li>
                            <li>General Chemistry</li>
                            <li>Physics 1 and 2</li>
                            <li>Computer fundamentals and programming</li>
                            <li>Building System Design</li>
                            <li>Principles of Steel Design</li>
                            <li>Hydraulics</li>
                            <li>Hydrology</li>
                            <li>Geotechnical Engineering 1</li>
                            <li>Principles of transportation engineering</li>
                            <li>CE project 1 and 2</li>
                            </ul>

                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/ce1.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
