{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url({% static 'assets/img/ECE2.jpg' %});"></div>
                    <div class="post-body">
                        <h3>Electronics Engineering</h3>
                        <!--<div class="post-info"><span>By John Smith</span><span>Jan 27, 2018</span></div>-->
                        <p>Electronics is the science dealing with the development and application of devices and systems involving the flow of electrons or other carriers of electric charge, in a vacuum, in gaseous media, in plasma,
                        in semiconductors, in solid-state and/or in similar devices, including, but not limited to, applications involving optical, electromagnetic and other energy forms when transduced or converted into electronic signals.</p>
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/ECE1.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">Lorem ipsum dolor</figcaption>
                        </figure>
                        <h4>Course Overview</h4>
                        <p>People who study electronic engineering work on the creation, design, and testing of electric circuits and components, as well as how they work with computer hardware and systems.</p>
                        <div class="row">
                         <div class="col">
                              <strong>Subjects to take:</strong>
                            <ul>
                            <li>Calculus 1 and 2</li>
                            <li>Differential Equation</li>
                            <li>Engineering Data Analysis</li>
                            <li>General Chemistry</li>
                            <li>Physics 1 and 2</li>
                            <li>Computer-Aided Drafting</li>
                            <li>Computer Programming</li>
                            <li>Circuits 1 and 2</li>
                            <li>Advanced Engineering Mathematics for ECE</li>
                            <li>Electromagnetics</li>
                            <li>Electronics 1, 2 and 3</li>
                            <li>Communications 1, 2, 3 and 4</li>
                            <li>Digital electronics 1 and 2</li>
                            <li>Feedback and control systems</li>
                            <li>Digital electronics 1 and 2</li>
                            <li>Feedback and control systems</li>
                            <li>Methods of research</li>
                            <li>Capstone project 1 and 2</li>
                            <li>ECE elective 1 and 2</li>
                            </ul>

                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/ECE3.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}