{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url({% static 'assets/img/EE3.jpg' %});"></div>
                    <div class="post-body">
                        <h3>Electrical Engineering</h3>
                        <!--<div class="post-info"><span>By John Smith</span><span>Jan 27, 2018</span></div>-->
                        <p>Electrical Engineering is a profession that involves the conceptualization, development, design and application of safe, healthy, ethical, economical, and sustainable generation, transmission, distribution, and utilization of electrical energy for the benefit of society
                        and the environment through the knowledge of mathematics, physical sciences, information technology and other aided sciences, gained by study, research and practice.</p>
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/EE1.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">Lorem ipsum dolor</figcaption>
                        </figure>
                        <h4>Course Overview</h4>
                        <p>Electrical engineering is one of the broader fields of the engineering disciples both in terms of the range of problems that fall within its purview and in the range of knowledge required to solve these problems.</p>
                        <div class="row">
                         <div class="col">
                              <strong>Subjects to take:</strong>
                            <ul>
                            <li>Calculus 1 and 2</li>
                            <li>Differential Equation</li>
                            <li>Engineering Data Analysis</li>
                            <li>General Chemistry</li>
                            <li>Physics 1 and 2</li>
                            <li>Computer-Aided Drafting</li>
                            <li>Electronics Circuits: Devices and Analysis</li>
                            <li>Thermodynamics</li>
                            <li>Electromagnetics</li>
                            <li>Fluid mechanics</li>
                            <li>Fundamentals of Electronic Communications</li>
                            <li>Logic Circuits and Switching Theory</li>
                            <li>Microprocessor Systems</li>
                            <li>Computer Programming</li>
                            <li>Electrical Circuits 1 and 2</li>
                            <li>Electrical Machines 1 and 2</li>
                            <li>Power System Analysis</li>
                            <li>Fundamentals of Power Plant Engineering Design</li>
                            <li>Research Methods</li>
                            <li>Capstone Design</li>
                            <li>Feedback and Control Systems</li>
                            <li>Electives 1 and 2</li>
                            </ul>

                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/EE2.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}