{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url({% static 'assets/img/ME1.jpg' %});"></div>
                    <div class="post-body">
                        <h3>Mechanical Engineering</h3>
                        <!--<div class="post-info"><span>By John Smith</span><span>Jan 27, 2018</span></div>-->
                        <p> Mechanical Engineering is a profession that concerns itself with mechanical   design, energy conversion, fuel and combustion technologies, heat transfer, materials, noise control and acoustics, manufacturing processes, rail transportation, automatic control, product safety and reliability, solar energy, and technological impacts to society. Mechanical engineers study the behavior of materials when forces are applied to them, such as the motion of solids, liquids, gases, and heating and cooling of object and machines. Using these basic building blocks, mechanical engineers design space vehicles., computers, power plants, intelligent machines and robots, automobiles, trains, airplanes, furnaces, and air - conditioners. </p>
                        <p> Mechanical engineers work on jet engine design, submarines, hot air balloons, textiles and new materials, medical and hospital equipment, and refrigerators and other home appliances_ Anything that is mechanical or must interact with another machine or human being is within the broad scope of mechanical engineering. </p>
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/ME3.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">Lorem ipsum dolor</figcaption>
                        </figure>
                        <h4>Course Overview</h4>
                        <p>Mechanical Engineers are responsible for creating machines and other pieces of equipment as well as doing research and developing new technologies.</p>
                        <div class="row">
                         <div class="col">
                              <strong>Subjects to take:</strong>
                            <ul>
                            <li>Calculus 1 and 2</li>
                            <li>Differential Equation</li>
                            <li>Engineering Data Analysis</li>
                            <li>General Chemistry</li>
                            <li>Physics 1 and 2</li>
                            <li>Computer Fundamentals and Programming</li>
                            <li>Computer-Aided Drafting</li>
                            <li>Static and Dynamic rigid bodies</li>
                            <li>Basic electrical engineering</li>
                            <li>Basic electronics</li>
                            <li>DC and AC machinery</li>
                            <li>Advanced mathematics for ME</li>
                            <li>Methods of research</li>
                            <li>Fluid mechanics</li>
                            <li>Machine elements</li>
                            <li>Thermodynamics 1 and 2</li>
                            <li>Combustion engineering</li>
                            <li>Control engineering</li>
                            <li>Vibration engineering</li>
                            <li>Machine design 1 and 2</li>
                            <li>ME project study 1 and 2</li>
                            <li>ME electives</li>
                            </ul>

                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="{% static 'assets/img/ME2.jpg' %}" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
