{% comment %}{% extends 'base.html' %} {% endcomment %}
{% load rest_framework %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Grade-inputs.css' %}">
</head>
<title>Grades</title>
<body class="page service-page" style="background-color: #4e73df;">

        <section class="clean-block clean-services dark shadow-lg">



            <div class="container">
                <div class="block-heading">
                    <h1 style="color: rgb(255,255,255);">Grades</h1>
                    <h4 style="color: rgb(255,255,255);">Hi {{user.first_name}} {{user.last_name}}! Please input your Senior High School Grades here.</h4>
                </div>
            </div>
           <div class="container">
               <div class="block-content">
               <form action="{% url 'grades' request.user.id %}" method="POST">
						{% csrf_token %}
                <div class="row"  style="text-align: center;">

                            <div class="form-group col-sm-3"><label for="name" >General Math</label><br>
                            {{form.General_Math}}<br>
                            {{form.General_Math.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name" >ICT</label><br>
                            {{form.ICT}}<br>
                            {{form.ICT.errors}} </div>
                            <div class="form-group col-sm-3"><label for="name" >Statistics</label><br>
                            {{form.Statistics}}<br>
                            {{form.Statistics.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name">Pre-Calculus</label><br>
                            {{form.Pre_Calculus}}<br>
                            {{form.Pre_Calculus.errors}}</div>

                </div>
                <div class="row" style="text-align: center;">

                            <div class="form-group col-sm-3"><label for="name">Basic Calculus</label><br>
                            {{form.Basic_Calculus}}<br>
                            {{form.Basic_Calculus.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name">Biology 1</label><br>
                            {{form.Biology_1}}<br>
                            {{form.Biology_1.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name">Biology 2</label><br>
                            {{form.Biology_2}}<br>
                            {{form.Biology_2.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name">Chemistry 1</label><br>
                            {{form.Chemistry_1}}<br>
                            {{form.Chemistry_1.errors}}</div>

                </div>
                <div class="row" style="text-align: center; ">

                            <div class="form-group col-sm-3"><label for="name">Chemistry 2</label><br>
                            {{form.Chemistry_2}}<br>
                            {{form.Chemistry_2.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name">Physics 1</label><br>
                            {{form.Physics_1}}<br>
                            {{form.Physics_1.errors}}</div>
                            <div class="form-group col-sm-3"><label for="name">Physics 2</label><br>
                            {{form.Physics_2}}<br>
                            {{form.Physics_2.errors}}</div>
                            <div class="form-group col-sm-3">
                                <div style="padding-top: 25px">
                                <button class="btn btn-primary btn-block" type="submit">Send</button>
                            </div></div>
                </div>


            </form>
            {{ form.non_field_errors }}
</div>
                  </div>

        </section>
</body>
