{% extends 'base2.html' %}
{% load static %}
{% block content %}

<title>Register</title>
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form method="POST" class="user">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form.first_name }}{{form.first_name.errors}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.last_name }} {{form.last_name.errors}}
                                    </div>

                                </div>
                                <div class="form-group">

                                        {{ form.school }}
                                        {{ form.school.errors }}

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form.email }}
                                        {{form.email.errors}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.username }}
                                        {{form.username.errors}}
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{ form.password1 }}</div>
                                    <div class="col-sm-6">{{ form.password2 }}</div>
                                    <p style="margin-left: 15px ">
                                        {{form.password1.errors}}
                                        {{form.password2.errors}}</p>

                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>
                                <hr>
                            </form>

                            <div class="text-center"><a class="small" href=" /password_reset">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href=" /login ">Already have an account? Login!</a></div>


{% endblock %}

{#                                <div class="form-group row">#}
{#                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="id_first_name" placeholder="First Name" name="first_name" required>{{form.first_name.errors}}</div>#}
{#                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="id_last_name" placeholder="Last Name" name="last_name" required>{{form.last_name.errors}}</div>#}
{#                                </div>#}
{#                                <div class="form-group row">#}
{#                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="email" id="id_email" aria-describedby="emailHelp" placeholder="Email Address" name="email" required> {{form.email.errors}}</div>#}
{#                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="id_username" placeholder="Username" name="username" required>{{form.username.errors}}</div>#}
{##}
{#                                </div>#}
{#                                <div class="form-group row">#}
{#                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="id_password1" placeholder="Password" name="password1" required></div>#}
{#                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="id_password2" placeholder="Repeat Password" name="password2" required></div>#}
{#                                    <p style="margin-left: 15px ">#}
{#                                        {{form.password1.errors}}#}
{#                                        {{form.password2.errors}}</p>#}