{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
    <div class="container">
<div class="block-heading"></div>
<div class="block-content">
<h2 style="text-align: center">{{ quiz.title }}</h2>
<!----<h3>{% trans "Category" %}: {{ quiz.category }}</h3>-->
{% if quiz.single_attempt %}
  <h5 style="text-align: center">{% trans "You will only get one attempt at this quiz" %}.</h5>
{% endif %}
{#<p>{{ quiz.description }}</p>#}
<br><br>
<p><strong>Instructions</strong></p>
<ul>
    <li>This exam consists of <strong>{{quiz.max_questions}}</strong> questions. </li>
    <li>Each question has a time limit of 20 seconds.</li>
    <li>Your response must be submitted before the time limit expires.</li>
    </ul>
<br><br>
<p>
  <a class="btn btn-primary btn-block" href="{% url 'quiz_question' quiz_name=quiz.url %}">
	{% trans "Proceed" %}
  </a>
</p>
</div></div>

{% endblock %}
