{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Exams" %}{% endblock %}

{% block content %}


	{% if current_exam.complete == False %}
        <div class="container">
        <div class="block-heading"></div>
        <div class="block-content">
	<h4> Please finish the previous exam.
        <a class="btn-block" id="btnClear" href="{% url 'quiz_question' quiz_name=current_exam.quiz.url %}"><br>
        <h5> Go back to previous exam <img src="{% static 'assets/img/blue-arrow.png' %}" height="20px" alt="" ></h5>
        </a>
    </h4></div></div>
	{% endif %}

	{% if current_exam == None or current_exam.complete == True %}
<div class="container">
    <div class="block-heading">
<h2 style="text-align: center; color: rgb(255,255,255)">{% trans "List of exams" %}</h2>
</div>
<div class="block-content">
        <h4>You only have <strong>1</strong>  attempt for each exam.</h4>
    	{% if quiz_list %}
			<table class="table table-bordered table-hover">

				<thead>
				<tr>
					<th>{% trans "Title" %}</th>
					<th>{% trans "Status" %}</th>


			</tr>
			</thead>

			<tbody>
			{% for quiz in quiz_list %}
			<tr>
				<td>{{ quiz.title }}</td>
				<td>

					{% if result.GE_exam_done and quiz.title == 'General Engineering' or result.CE_exam_done and quiz.title == 'Civil Engineering' or result.ECE_exam_done and quiz.title == 'Electronics Engineering' or result.EE_exam_done and quiz.title == 'Electrical Engineering' or result.ME_exam_done and quiz.title == 'Mechanical Engineering' %}
						{% for exam_score in exam_scores %}
							{% if quiz.title == exam_score.quiz.title %}
								<h5 style="color: #00bb2a">{{exam_score.current_score}} / {{quiz.max_questions}}
							{% endif %}
						{% endfor %}
						<img src="{% static 'assets/img/checkmark.png' %}" height="20px" alt=""></h5>

					{% else %}
						<a class="btn-block" href="{% url 'quiz_start_page' slug=quiz.url %}">
							<h5> Start quiz <img src="{% static 'assets/img/blue-arrow.png' %}" height="20px" alt="" ></h5></a>
					{% endif %}
				</td>
				
			</tr>
			
			{% endfor %}
		</tbody>
		
	</table>
            <a href="/home"> < Back to Home</a>
</div>


{% else %}
<p>{% trans "There are no available quizzes" %}.</p>
		{% endif %}
    {% endif %}
    </div>
</main>

{% endblock %}
