{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <link rel="stylesheet" href=" {% static 'assets/bootstrap/css/bootstrap.min2.css' %} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %} ">
</head>

<body class="bg-gradient-primary">
  <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0" >
                <div class="row" >
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-login-image" style="background-image: url( {% static 'assets/img/12.png' %} );background-size: 75%;background-repeat: no-repeat;"></div>
                    </div>
                    <div class="col-lg-7">
                                <div class="p-5">
{% block content %}

{% endblock %}
                                </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

    <script src=" {% static 'assets/js/jquery.min2.js' %} "></script>
    <script src=" {% static 'assets/bootstrap/js/bootstrap.min2.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src=" {% static 'assets/js/theme2.js' %} "></script>
</body>
</html>