<!doctype html>
{% load static %}
<html lang="en">
<title> Certificate </title>
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/foroutput.css' %}">

<div class="container">

    <img src="{% static 'assets/img/nem.png' %}" style="float: left" height="80px" alt="">

                <a href="/home">
                    <img src="{% static 'assets/img/12.png' %}" style="float: right; padding-right: 25px" height="100px" alt="">
                </a></div><br><br><br><br>
<hr style="height: 5px; background-color: #1b89e0; border-radius: 40%">

<div class="container" style="padding: 40px">
    <h4 style="text-align: justify;text-indent: 80px">    This is to certify that the recommendation for <strong>{{user.first_name|title}} {{user.last_name|title}}</strong> from
        <strong>{{user.school}}</strong> is authenticated with Blockchain notarization via NEM Apostille.
    </h4><br><h4 style="text-indent: 80px">The recommendation and the unique Hash key is:<br><br></h4>
    <div class="jumbotron" style="text-align: center">
    <h2>
        <strong>{{user.program}}: {{user.program_value}}</strong><br> <br></h2><h4>
        HASH Key: </h4><br><h5> {{user.hash}}
    </h5>
</div>
    </div>
<hr style="height: 5px; background-color: #1b89e0; border-radius: 40%">
<img src="{% static 'assets/img/nem logo.png' %}" style="float: left " height="150px" alt="">
<img src="{% static 'assets/img/apostille seal.png' %}" style="float: right" height="150px" alt="">


</html>