{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Change Password
{% endblock %}
{% block content %}
<div class="container">
<div class="block-heading" >
<h1 style="color: rgb(255,255,255);">Password Reset</h1>
<div class = "block-content">

    <form method = "POST" class="user">
        {% csrf_token %}
        {% include 'message.html' %}
        <small id="hint_id_new_password1" class="form-text text-muted">
            <ul style="text-align: left">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </small><br>
        {{ form.old_password }}
        {{form.old_password.errors}}
        <br>
        {{ form.new_password1 }}
        {{form.new_password1.errors}}
        <br>
        {{ form.new_password2 }}
        {{form.new_password2.errors}}
        <br>

    <button class="btn btn-primary text-white btn-user" type="submit">Change Password</button><a class="btn btn-light btn-outline-secondary" href="{% url 'edit' user.id %}">Cancel</a>

    </form>
    {{ form.non_field_errors }}
    <br>
</div></div></div>

{% endblock %}

{#{{ form.errors }}#}
{#        <small id="hint_id_new_password1" class="form-text text-muted">#}
{#            <ul style="text-align: left">#}
{#                <li>Your password can’t be too similar to your other personal information.</li>#}
{#                <li>Your password must contain at least 8 characters.</li>#}
{#                <li>Your password can’t be a commonly used password.</li>#}
{#                <li>Your password can’t be entirely numeric.</li>#}
{#            </ul>#}
{#        </small><br>#}
{##}
{#        <div><input type="password" name="old_password" autocomplete="current-password" autofocus="" placeholder="Old Password" class="textinput textInput form-control" required="" id="id_old_password"></div>#}
{#        {{form.old_password.errors}}#}
{#        <br>#}
{#        <div><input class="form-control form-control-user" type="password" id="id_new_password1" placeholder="New Password" name="new_password1" required="" autocomplete="new-password" ></div>#}
{#        {{form.new_password1.errors}}#}
{#        <br>#}
{##}
{#        <div><input class="form-control form-control-user" type="password" id="id_new_password2" placeholder="Confirm New Password" name="new_password2" required="" autocomplete="new-password" ></div>#}
{#        {{form.new_password2.errors}}#}
{#        <br>#}
{##}
{#        <br>#}


