{% extends 'base.html' %}
{% load static %}
{% block title %} Profile Edit {% endblock title %}
{% block content %}



            <div class="container">
                <div class="block-heading">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <h3 class="text-primary m-0 font-weight-bold" style="text-align: left;">User Settings</h3>
                        </div>
                        <div class="card-body">
                        {% include 'message.html' %}
                            <form method = "POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="username" style="text-align: left;"><strong>Username</strong></label>
                                            {{ form.username }}
                                            {{form.username.errors}}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="email"><strong>Email Address</strong></label>
                                            {{ form.email }}
                                            {{form.email.errors}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group"><label for="first_name"><strong>First Name</strong></label>
                                            {{ form.first_name }}
                                            {{form.first_name.errors}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group"><label for="last_name"><strong>Last Name</strong></label>
                                            {{ form.last_name }}
                                            {{form.last_name.errors}}
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                        <div class="form-group"><label for="school"><strong>School</strong></label>
                                            {{ form.school }}
                                            {{form.school.errors}}
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group" style="margin-bottom: -20px"><button class="btn btn-primary" type="submit">Save Settings</button></div>


                            </form><div class="form-group"><a href="{% url 'change_password' %}"/> <button class="btn-primary btn">Change Password</button></div>


                        </div>
                    </div>
                </div>
            </div>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading"></div>
            </div>
        </section>


{% endblock %}