{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block content %}

                   <div class="container">

                               {% if user.assessment_done and user.exam_done and user.grades_done %}
<div class="block-heading text-left" >
                       <h2 class="text-light"><strong>{{user.first_name}} {{user.last_name}}</strong>
                       you should consider <strong> <a href="/progs" class="text-decoration-none text-reset "> {{programs.0}}!</a></strong></h2>
                           </div>
                                 <div class="card shadow">
                                    <div class="card-header py-3">
                                        <h3 class="text-primary font-weight-bold m-0">Overall Results</h3>

                                    </div>
                                    <div class="card-body">
                                        <h4 class="small font-weight-bold">{{programs.0}}<span class="float-right">{{results.0}}</span></h4>
                                        <div class="progress progress-sm mb-3" style="height: 30px;">
                                            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{results.0}};"><span class="sr-only">{{results.0}}</span></div>
                                        </div>
                                        <h4 class="small font-weight-bold">{{programs.1}}<span class="float-right">{{results.1}}</span></h4>
                                        <div class="progress progress-sm mb-3" style="height: 30px;">
                                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{results.1}};"><span class="sr-only">{{results.1}}</span></div>
                                        </div>
                                        <h4 class="small font-weight-bold">{{programs.2}}<span class="float-right">{{results.2}}</span></h4>
                                        <div class="progress progress-sm mb-3" style="height: 30px;">
                                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{results.2}};"><span class="sr-only">{{results.2}}</span></div>
                                        </div>
                                        <h4 class="small font-weight-bold">{{programs.3}}<span class="float-right">{{results.3}}</span></h4>
                                        <div class="progress progress-sm mb-3" style="height: 30px;">
                                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{results.3}};"><span class="sr-only">{{results.3}}</span></div>
                                        </div>
                                    </div>
                                 <div class="form-group" style="margin: -18px"><a href="{% url 'output' %}"> <button class="btn btn-primary btn-sm">Get PDF</button></a></div>
                                </div>
                           {% else %}
                           <div class="block-heading text-left" >
                               <h2 class="text-light"><strong>{{user.first_name}} {{user.last_name}}</strong></h2></div>
        {% endif %}

                            {% include 'message.html' %}
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <h3 class="text-primary m-0 font-weight-bold">Grades</h3>
                                        </div>
                                        <div class="card-body" style="padding: 30px">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="name"><strong>General Math: </strong></label><br>
                                                            <label for="name">{{grade.General_Math}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>ICT: </strong></label><br>
                                                            <label for="username">{{grade.ICT}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Statistics: </strong></label><br>
                                                            <label for="username">{{grade.Statistics}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Pre Calculus: </strong></label><br>
                                                            <label for="username">{{grade.Pre_Calculus}}</label></div>
                                                    </div>
                                                </div>
                                                 <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Basic Calculus: </strong></label><br>
                                                            <label for="username">{{grade.Basic_Calculus}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Biology 1: </strong></label><br>
                                                            <label for="username">{{grade.Biology_1}}</label></div>
                                                    </div>
                                                </div>
                                            <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="name"><strong>Biology 2: </strong></label><br>
                                                            <label for="name">{{grade.Biology_2}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Chemistry 1: </strong></label><br>
                                                            <label for="username">{{grade.Chemistry_1}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Chemistry 2: </strong></label><br>
                                                            <label for="username">{{grade.Chemistry_2}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Physics 1: </strong></label><br>
                                                            <label for="username">{{grade.Physics_1}}</label></div>
                                                    </div>
                                                </div>
                                                 <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Physics 2: </strong></label><br>
                                                            <label for="username">{{grade.Physics_2}}</label></div>
                                                    </div>
                                                </div>
                                        </div>  <!-- card body -->
                            </div> <!-- card shadow -->
                        </div> <!-- col-lg-4  -->
                        <div class="col-lg-8">

                        {% if user.exam_done %}
                                <div class="row">
                                    <div class="col">
                                        <div class="card shadow mb-3">
                                            <div class="card-header py-3">
                                              <h3 class="text-primary m-0 font-weight-bold">Exam Results</h3>
                                            </div>
                                                <div class="card-body">
                                                <table  class="table table-sm table-hover text-left" style="margin-bottom: unset">
                                                <tr>
                                                <td><strong>General Engineering Exam</strong></td>
                                                <td>{{exam_scores.0}}/20</td>

                                                </tr>
                                                <tr>
                                                    <td><strong>Civil Engineering Exam</strong></td>
                                                <td>{{exam_scores.1}}/10</td>

                                                </tr>
                                                <tr>
                                                    <td><strong>Electronics Engineering Exam</strong></td>
                                                <td>{{exam_scores.2}}/10</td>

                                                </tr>
                                                <tr>
                                                    <td><strong>Electrical Engineering Exam</strong></td>
                                                <td>{{exam_scores.3}}/10</td>

                                                </tr>
                                                <tr>
                                                    <td><strong>Mechanical Engineering Exam</strong></td>
                                                    <td>{{exam_scores.4}}/10</td>
                                                </tr>
                                                </table>
                                            </div> <!-- card-body -->
                                        </div> <!-- card shadow mb-3 -->
                                    </div> <!-- col -->
                                </div> <!-- row -->
                        {% endif %}
                        <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <h3 class="text-primary m-0 font-weight-bold">User Settings</h3>
                                        </div>
                                        <div class="card-body">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="username"><strong>Username:</strong></label><br>
                                                            <label for="username">{{user.username}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email Address:</strong></label><br>
                                                            <label for="username">{{user.email}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-3">
                                                        <div class="form-group"><label for="first_name"><strong>First Name:</strong></label><br>
                                                            <label for="username">{{user.first_name|title}}</label></div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group"><label for="last_name"><strong>Last Name:</strong></label><br>
                                                            <label for="username">{{user.last_name|title}}</label></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="school"><strong>School:</strong></label><br>
                                                            <label for="username">{{user.school|title}}</label></div>
                                                    </div>
                                                </div>
                                            <div class="form-group" style="margin-bottom: -28px"><a href="{% url 'edit' user.id %}"/><button class="btn-primary btn">Edit Profile</button></div>

                                        </div> <!-- card-body -->
                                    </div> <!-- card shadow mb-3 -->
                                </div> <!-- col -->
                        </div> <!-- row -->
                        </div> <!-- col-lg-8 -->
                    </div> <!-- row mb-3 -->
                   </div>

{% endblock %}
<div class="container">
  <div class="row">
    <div class="col text-right">

    </div>
  </div>
</div>