{% load static %}
<html lang="en">
<title> Results </title>
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/foroutput.css' %}">
<section class="clean-block clean-services dark">
                <div class="container">
                    <hr style="height: 5px; background-color: #1b89e0; border-radius: 40%">
                <div class="container">
                    <a href="/home">
                    <img src="{% static 'assets/img/12.png' %}" style="float: right; padding-right: 25px" height="80px" alt="">
                    </a>

                    <p class="text"><strong>{{user.last_name|title}}, {{user.first_name |title}}</strong><br>{{user.school}}<br>{{ user.email }}</p>
                </div>

                    <hr style="height: 5px; background-color: #1b89e0; border-radius: 40%">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h2 class="text-primary font-weight-bold m-0">Results</h2>
                        </div>
                        <div class="card-body" style="max-height: 320px">
                            <h4 class="small font-weight-bold">{{programs.0}} : {{results.0}}</h4>
                            <div class="progress progress-sm mb-3" style="height: 30px;">
                                <div class="progress-bar bg-primary" aria-valuenow={{results.0}} aria-valuemin="0" aria-valuemax="100" style="width: {{results.0}};"><span class="sr-only">{{results.0}}</span></div>
                            </div>
                            <h4 class="small font-weight-bold">{{programs.1}} : {{results.1}}</h4>
                            <div class="progress progress-sm mb-3" style="height: 30px;">
                                <div class="progress-bar bg-warning" aria-valuenow={{results.1}} aria-valuemin="0" aria-valuemax="100" style="width: {{results.1}};"><span class="sr-only">{{results.1}}</span></div>
                            </div>
                            <h4 class="small font-weight-bold">{{programs.2}} : {{results.2}}</h4>
                            <div class="progress progress-sm mb-3" style="height: 30px;">
                                <div class="progress-bar bg-danger" aria-valuenow={{results.2}} aria-valuemin="0" aria-valuemax="100" style="width: {{results.2}};"><span class="sr-only">{{results.2}}</span></div>
                            </div>
                            <h4 class="small font-weight-bold">{{programs.3}} : {{results.3}}</h4>
                            <div class="progress progress-sm mb-3" style="height: 30px;">
                                <div class="progress-bar bg-success" aria-valuenow={{results.3}} aria-valuemin="0" aria-valuemax="100" style="width: {{results.3}};"><span class="sr-only">{{results.3}}</span></div>
                            </div>
                        </div>
                    </div>
<hr style="height: 5px; background-color: #1b89e0; border-radius: 40%">
                <div class="row">
                    <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3" style="max-width: 100%">
                                    <h3 class="text-primary m-0 font-weight-bold">Exam Results</h3>
                                </div>
                                <div class="card-body" style="max-height: 200px">
                                        <table  class="table table-sm table-hover text-left" style="margin-bottom: unset">
                                        <tr>
                                        <td><strong>General Engineering Exam</strong></td>
                                        <td>{{exam_scores.0}}/20</td>

                                        </tr>
                                        <tr>
                                            <td><strong>Civil Engineering Exam</strong></td>
                                        <td>{{exam_scores.1}}/10</td>

                                        </tr>
                                        <tr>
                                            <td><strong>Electronics Engineering Exam</strong></td>
                                        <td>{{exam_scores.2}}/10</td>

                                        </tr>
                                        <tr>
                                            <td><strong>Electrical Engineering Exam</strong></td>
                                        <td>{{exam_scores.3}}/10</td>

                                        </tr>
                                        <tr>
                                            <td><strong>Mechanical Engineering Exam</strong></td>
                                            <td>{{exam_scores.4}}/10</td>
                                        </tr>
                                        </table>
                                    </div>
                            </div>
                    </div>
                    <div class="col">
                     <div class="card shadow mb-3">
                                        <div class="card-header py-3" style="max-width: 100%">
                                            <h3 class="text-primary m-0 font-weight-bold">Grades</h3>
                                        </div>

                                        <div class="card-body" style="max-height: 400px">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="name"><strong>General Math: </strong></label><br>
                                                            <label for="name">{{grade.General_Math}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>ICT: </strong></label><br>
                                                            <label for="username">{{grade.ICT}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Statistics: </strong></label><br>
                                                            <label for="username">{{grade.Statistics}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Pre Calculus: </strong></label><br>
                                                            <label for="username">{{grade.Pre_Calculus}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Basic Calculus: </strong></label><br>
                                                            <label for="username">{{grade.Basic_Calculus}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Biology 1: </strong></label><br>
                                                            <label for="username">{{grade.Biology_1}}</label></div>
                                                    </div>
                                                </div>
                                            <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="name"><strong>Biology 2: </strong></label><br>
                                                            <label for="name">{{grade.Biology_2}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Chemistry 1: </strong></label><br>
                                                            <label for="username">{{grade.Chemistry_1}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Chemistry 2: </strong></label><br>
                                                            <label for="username">{{grade.Chemistry_2}}</label></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Physics 1: </strong></label><br>
                                                            <label for="username">{{grade.Physics_1}}</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Physics 2: </strong></label><br>
                                                            <label for="username">{{grade.Physics_2}}</label></div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                </div>

                </div><hr style="height: 5px; background-color: #1b89e0; border-radius: 40%">


{#        <div class="row">#}
{#            <div class="col">#}
{#                <div class="card shadow mb-3">#}
{#                    <div class="card-header py-3">#}
{#                        <h3 class="text-primary m-0 font-weight-bold">Overall Results</h3>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                            <table  class="table table-sm table-hover text-left" style="margin-bottom: unset">#}
{##}
{#                            <tr>#}
{#                                <td><strong>{{programs.0}}</strong></td>#}
{#                            <td>{{results.0}}</td>#}
{##}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><strong>{{programs.1}}</strong></td>#}
{#                            <td>{{results.1}}</td>#}
{##}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><strong>{{programs.2}}</strong></td>#}
{#                            <td>{{results.2}}</td>#}
{##}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><strong>{{programs.3}}</strong></td>#}
{#                                <td>{{results.3}}</td>#}
{#                            </tr>#}
{#                            </table>#}
{#                        </div>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
                </div>
</section>
</html>