{% extends "base.html" %}
{% load i18n%}
{% load static %}

{% load quiz_tags %}

{#<script src="{% static 'assets/js/timer.js' %}"></script>#}


{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<main class="page landing-page" xmlns="http://www.w3.org/1999/html">
 <div class="container">
                    <div class="block-heading">
                       <h1 style="text-align: center; color: rgb(255,255,255)">{{ quiz.title }}</h1>
                    </div>

<div class="block-content">

{% if previous.answers %}

  <p class="muted"><small>{% trans "The previous question" %}:</small></p>
  <p>{{ previous.previous_question }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		{% trans "Your answer was" %} </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
	  </p>

	</div>

	{% include 'correct_answer.html' %}

	<p><strong>{% trans "Explanation" %}:</strong></p>
	<div class="well " style="background-color: #fcf8e3;">
	  <p>{{ previous.previous_question.explanation }}</p>
	</div>


{% endif %}


{% if question %}

{% if progress %}
<div style="float: right;">
{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
</div>
{% endif %}

<br><br>

<p class="lead">{{ question.content }}</p>

{% if question.figure %}
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}

<form id="myForm" action="" method="POST" >{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  <input type="submit" id="btnClear" value= "Next" class="btn btn-large btn-block btn-primary">
</form>

{% endif %}
<br>
<div style="text-align: right">
    Time Remaining: <strong>
    <span id="total-time-left"></span>
</strong>
    </div>
<hr>
<script>

btnClear.onclick = function () {
      localStorage.clear();
      count_timer = 20;
      document.getElementById ("total-time-left").innerHTML = count_timer;

};

if(localStorage.getItem("count_timer")){
    var count_timer = localStorage.getItem("count_timer");
} else {
    var count_timer = 20;
}
var minutes = parseInt(count_timer/60);
var seconds = parseInt(count_timer%60);
function countDownTimer(){
    if(seconds < 10){
        seconds= "0"+ seconds ;
    }if(minutes < 10){
        minutes= "0"+ minutes ;
    }

    document.getElementById("total-time-left").innerHTML = +seconds+" Seconds";
    if(count_timer <= 0){
        swal({
              title: "Oh no",
              text: "You ran out of time",
              icon: "info",

            });
              document.getElementById("myForm").submit();
              localStorage.clear("count_timer");




    } else {
        count_timer = count_timer -1 ;
        minutes = parseInt(count_timer/60);
        seconds = parseInt(count_timer%60);
        localStorage.setItem("count_timer",count_timer);
        setTimeout("countDownTimer()",1000);
    }
}
setTimeout("countDownTimer()",1000);




</script>

{% endblock %}
