{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
<div class="container">
    <div class="block-heading"></div>
    <div class="block-content" style="text-align: center">
{% if user.is_authenticated %}
  <h4>{% trans "You have already answered this exam and only one attempt is permitted" %}.</h4>
{% else %}
  <h4>{% trans "This exam is only accessible to signed in users" %}.</h4>
{% endif %}
      <a class="nav-link btn-block" href="/exam/">Go back to quiz list</a>
    </div></div>
{% endblock %}
