{% if messages %}
  {% for message in messages %}
<div {% if message.tags %} class="alert {{ message.tags }} alert-dismissible" {% endif %}>
    <button type = "button" class="close" data-dismiss = "alert">×</button>
      {{message}}
    </div>
 {% endfor %}
{% endif %}

