
#id_General_Math {
  max-width: 200px;
  border-radius: 10px;

}

#id_ICT {
  max-width: 200px;
  border-radius: 10px;

}

#id_Statistics {
  max-width: 200px;
  border-radius: 10px;
}

#id_Pre_Calculus {
  max-width: 200px;
  border-radius: 10px;
}

#id_Basic_Calculus {
  max-width: 200px;
  border-radius: 10px;
}

#id_Biology_1 {
  max-width: 200px;
  border-radius: 10px;
}

#id_Biology_2 {
  max-width: 200px;
  border-radius: 10px;
}

#id_Chemistry_1 {
  max-width: 200px;
  border-radius: 10px;
}

#id_Chemistry_2 {
  max-width: 200px;
  border-radius: 10px;
}

#id_Physics_1 {
  max-width: 200px;
  border-radius: 10px;
}

#id_Physics_2 {
  max-width: 200px;
  border-radius: 10px;
}