.container-fluid {
  background-color: #4e73df;
}

.errorlist {
  list-style-type: none;
  color: red;
  padding: 0;
}

.thick{
  padding: 20px;
  border-width: thick;
}

.custom-accordion{
  text-align: left;
  margin: unset;
}
.header-white{
  text-align: center;
  color: rgb(255,255,255);
}

    .alert-dismissible {
  padding-right: ($close-font-size + $alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}