{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block content %}

            <div class="container">
                <div class="block-heading"></div>
            </div>
            <section class="team-grid">
            <div class="container">
                <div class="intro">

                    <div style="text-align: center; padding: 20px">
                       <img src="{% static 'assets/img/12.png' %}" height="100px" alt="" >
                    </div>
                    <h4 class="text-center">We are Team Pursue!</h4>
                </div>
                <div class="row people">
                    <div class="col-md-4 item">
                        <div class="box" style="background-image:url({% static 'assets/img/1.jpg' %})">
                            <div class="cover">
                                <h3 class="name">Arby Roel Gallego</h3>
                                <p class="title">Project leader</p>
                                 <div class="social"><a href="https://www.facebook.com/garbyroel"><i class="fa fa-facebook-official"></i></a><a href="https://gitlab.com/Arbyy"><i class="fa fa-gitlab"></i></a><a href="#"><i class="fa fa-at"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  item">
                        <div class="box" style="background-image:url({% static 'assets/img/2.jpg' %})">
                            <div class="cover">
                                <h3 class="name">Jack Gabriel Dagusen</h3>
                                <p class="title">back end developer</p>
                                <div class="social"><a href="https://www.facebook.com/jackdagusen"><i class="fa fa-facebook-official"></i></a><a href="https://gitlab.com/jackdagusen"><i class="fa fa-gitlab"></i></a><a href="#"><i class="fa fa-at"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  item">
                        <div class="box" style="background-image:url({% static 'assets/img/3.jpg' %})">
                            <div class="cover">
                                <h3 class="name">Marc Nico Galdiano</h3>
                                <p class="title">front end developer</p>
                                 <div class="social"><a href="https://www.facebook.com/kwekxkiko"><i class="fa fa-facebook-official"></i></a><a href="https://gitlab.com/marcnico.galdiano"><i class="fa fa-gitlab"></i></a><a href="#"><i class="fa fa-at"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  item">
                        <div class="box" style="background-image:url({% static 'assets/img/4.jpg' %})">
                            <div class="cover">
                                <h3 class="name">John Lloyd Lupenario</h3>
                                <p class="title">web developer</p>
                                 <div class="social"><a href="https://www.facebook.com/lloydlupenario/"><i class="fa fa-facebook-official"></i></a><a href="https://gitlab.com/heeeeathcliff"><i class="fa fa-gitlab"></i></a><a href="#"><i class="fa fa-at"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  item">
                        <div class="box" style="background-image:url({% static 'assets/img/5.jpg' %})">
                            <div class="cover">
                                <h3 class="name">Jade Meler Senosa</h3>
                                <p class="title">Data analyst</p>
                                 <div class="social"><a href="https://www.facebook.com/jadeng15"><i class="fa fa-facebook-official"></i></a><a href="https://gitlab.com/jadeng05"><i class="fa fa-gitlab"></i></a><a href="#"><i class="fa fa-at"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  item">
                        <div class="box" style="background-image:url({% static 'assets/img/6.jpg' %})">
                            <div class="cover">
                                <h3 class="name">August Thio-Ac</h3>
                                <p class="title">Team adviser</p>
                                 <div class="social"><a href="https://www.facebook.com/august.thioac"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-gitlab"></i></a><a href="#"><i class="fa fa-at"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


 {% endblock %}