{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

    <main class="page landing-page" style="background-color: #4e73df;">

        <section class="clean-block features"></section>
            <div class="container">
                <div class="container">
                  {% include 'message.html' %}
                 </div>
                <section class="article-list shadow-lg">
                    <div class="container">
                        {% if user.assessment_done and user.exam_done and user.grades_done %}
                        <div class="row articles" >
                            <div class="col-sm-6 col-md-4 item" ><a href="{% url 'quiz_index' %}">
                                <img class="img-fluid" src="{% static 'assets/img/test1.png' %}" alt=""></a>
                                <h3 class="name">Take the Exam</h3>
                                <p class="description">An Engineering Exam Page where the users will answer the provided questions of the customized Engineering Exam.<br></p><a class="action" href="{% url 'quiz_index' %}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            <div class="col-sm-6 col-md-4 item"><a href="{% url 'assessment' user.id %}">
                                <img class="img-fluid" src="{% static 'assets/img/test2.png' %}" alt=""></a>
                                <h3 class="name">Perform the Skill-Assessment Test</h3>
                                <p class="description">A Skill-Assessment Test Page where the users will answer the provided questions of the customized Skill-Assessment Test<br></p><a class="action" href="{% url 'assessment' user.id %}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            <div class="col-sm-6 col-md-4 item"><a href="/output">
                                <img class="img-fluid" src="{% static 'assets/img/test3.png' %}"></a>
                                <h3 class="name">Get the Results</h3>
                                <p class="description">An Output Page where the results of the Recommendation System will be shown in a form of Tables and Graphs.</p><a class="action" href="/output"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                            {% else %}
                            <div class="row articles" >
                            <div class="col-sm-6 col-md-5 col-lg-5 offset-md-1 offset-lg-1 item" ><a href="{% url 'quiz_index' %}">
                                <img class="img-fluid" src="{% static 'assets/img/test1.png' %}" alt=""></a>
                                <h3 class="name">Take the Exam</h3>
                                <p class="description">An Engineering Exam Page where the users will answer the provided questions of the customized Engineering Exam.<br></p><a class="action" href="{% url 'quiz_index' %}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            <div class="col-sm-6 col-md-5 col-lg-5 offset-md-0 offset-lg-0 item"><a href="{% url 'assessment' user.id %}">
                                <img class="img-fluid" src="{% static 'assets/img/test2.png' %}" alt=""></a>
                                <h3 class="name">Perform the Skill-Assessment Test</h3>
                                <p class="description">A Skill-Assessment Test Page where the users will answer the provided questions of the customized Skill-Assessment Test<br></p><a class="action" href="{% url 'assessment' user.id %}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            </div>

                            {% endif %}


                    </div>
                </section>
            </div>

    </main>


{% endblock %}
