{% extends 'base.html' %}
{% load static %}
{% block title %} Output {% endblock title %}
{% block content %}


<div class="container">
    
    <div class="block-heading">
        <h1 style="text-align: center; color: rgb(255,255,255)">Output</h1>
            {% include 'message.html' %}
                        </div>

                    <div>
                        <div  style="padding: 10px">
                            <div class="card" style="padding: 10px; border-width: thick">

                                <div class="card-body row">
                                    <div style="text-align: left" class="col-md-8">
                                    <h4 class="card-title">Results PDF</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                                    </div>
                                    <div class="col-md-4" style="padding: 20px">
                                    <a href="/pdf" class="btn btn-primary btn-block btn-sm">DOWNLOAD</a>
                                    <a href="#" onclick='window.open("/view/pdf");return false;' class="btn btn-primary btn-block btn-sm">VIEW</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  style="padding: 10px">
                            <div class="card" style="padding: 10px; border-width: thick">

                                <div class="card-body row">
                                    <div style="text-align: left" class="col-md-8">
                                    <h4 class="card-title">Certificate</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                                    </div>
                                    <div class="col-md-4" style="padding: 20px">
                                    <a href="/certificate" class="btn btn-primary btn-block btn-sm">DOWNLOAD</a>
                                    <a href="#" onclick='window.open("/view/certificate");return false;' class="btn btn-primary btn-block btn-sm">VIEW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
</div>



{% endblock %}