{% extends 'base.html' %}
{% load static %}
{% block title %} Privacy Policy {% endblock title %}
{% block content %}

    <body class="page faq-page">
            <div class="container">
                <div class="block-heading">
                    <h1 style="color: rgb(255,255,255);">Privacy Policy</h1>
                    <p style="color: rgb(255,255,255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="block-content shadow-lg">
                    <div class="faq-item">
                        <h4 class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
    </body>

{% endblock %}