{% extends 'base.html' %}
{% load static %}
{% block title %} College Programs {% endblock title %}
{% block content %}


                <div class="container">
                    <div class="block-heading">
                        <h2 style="text-align: center; color: rgb(255,255,255)">College Programs</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" style="padding: 20px"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/CE.jpg' %} ">
                                <div class="card-body">
                                    <h4 class="card-title">Civil Engineering</h4>
                                    <p class="card-text">Civil engineering is in charge of the structural design, construction, and integrity of structures such as buildings, bridges, and industrial buildings.</p>
                                </div>
                                <div><a href="/progs/CE" class="btn btn-outline-primary btn-sm">Learn More</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="padding: 20px"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/ME.jpg' %} ">
                                <div class="card-body">
                                    <h4 class="card-title">Mechanical Engineering</h4>
                                    <p class="card-text">Mechanical engineers are tasked with the responsibility of designing, analyzing, testing, and fabricating machines and other equipment.</p>
                                </div>
                                <div><a href="/progs/ME" class="btn btn-outline-primary btn-sm">Learn More</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="padding: 20px"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/ECE.jpg' %} ">
                                <div class="card-body">
                                    <h4 class="card-title">Electronics Engineering</h4>
                                    <p class="card-text">Electronic engineering is concerned with the creation, design, and testing of electrical circuits and components, as well as their integration into computer hardware and systems.</p>
                                </div>
                                <div><a href="/progs/ECE" class="btn btn-outline-primary btn-sm">Learn More</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="padding: 20px"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/EE.jpg' %} ">
                                <div class="card-body">
                                    <h4 class="card-title">Electrical Engineering</h4>
                                    <p class="card-text">Electrical engineering is concerned with harnessing electricity by producing, delivering, storing, and transmitting it on a large scale.</p>
                                </div>
                                <div><a href="/progs/EE" class="btn btn-outline-primary btn-sm">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>


   {% endblock %}

