{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<main class="page blog-post">
        <section>
            <div class="container">
                <div class="block-heading">
                    <h1 style="color: rgb(255,255,255);">Project Overview</h1>
                </div>

                <div class="block-content">
                    <div class="post-image" style="background-image:url({% static 'assets/img/team.jpg' %});"></div>
                    <div class="post-body">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>Nam a ultrices mauris. Nam efficitur, lorem a vehicula interdum, ligula velit euismod lorem, vitae vehicula ligula tortor eu leo. Maecenas porttitor massa ut vestibulum euismod. Aliquam eget mi aliquam.</p>
                        <p>Lorem ipsum dapibus dolor non, malesuada mauris. Aliquam eleifend mauris non odio mattis auctor. Aenean sit amet elementum tellus, a facilisis ligula. Pellentesque ac vehicula mauris.</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading" style="color: #979797;"><strong>Team Pursue</strong></span></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
</main>


{% endblock %}
